# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

out/
*.class
*.iml
/.idea
studentdb/
plannertest1/
plannertest2/
